body {
    background-color: lightgrey;
    font-family: 'Oswald', sans-serif;
}

#content {
    position: relative;
    margin: 0 auto;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    height: 97vh;
    width: 95vw;
    z-index: 2;
    overflow: hidden;
}

#title {
    margin-left: 5%;
    font-size: larger;
}

#description {
    position: absolute;
    text-align: right;
    /* bottom: 5%; */
    width: 15em;
    right: 5%;
    font-size: larger;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

li {
    list-style-type: square;
}

#projectsArea {
    position: absolute;
    left: 5%;
    width: 40%;
    height: 80%;
}

#brush-stroke {
    position: absolute;
    rotate: 90deg;
    height: 500px;
}

#github {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0%;
    right: 0%;
}

#linkedin {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 0%;
    right: 3.8%;
}